#fotorama-caption {
    text-align: center;
    line-height: 1.3;
    color: #EEEEEE;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
    font-size: 5vh;
}

.fotorama__html > div{
    display: block;
    height: 100%;
}