html, body {
    user-select: none;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#particles-js {
    background: #1a222c;
    display: flex;
    vertical-align: bottom;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /*background-image: url("/assets/img/bg1.webp");*/
}

@media only screen and (min-width:768px) {
    #particles-js{
        /*background-image: url("/assets/img/bg1_resized.webp");*/
    }
}

#particles-js .particles-js-canvas-el {
    height: 100vh!important
}

.header {
    font-family: Montserrat, sans-serif;
    z-index: 1;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 40%;
    left: 50%;
    margin: 0 auto;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

#name {
    font-size: 50px;
    display: inline;
    line-height: 1;
	color: rgb(255, 255, 255);
	font-family: 'Courgette', cursive;
}

@media only screen and (min-width:768px) {
    #name {
        margin: 0;
        font-size: 86px
    }
}

#nickname {
    position: relative;
    font-size: 20px;
    display: block;
    line-height: 1;
    color: rgb(255, 65, 65);
	margin-top: 10px;
    font-family: 'Courgette', cursive;
}

#nickname:hover {
    color:rgba(255, 255, 0, 1);
}

#name:hover {
    color: rgba(0, 0, 0, 1);
}

@media only screen and (min-width:768px) {
    #nickname {
        font-size: 42px
    }
}

.header-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center
}

.header-icons a {
    border: none!important;
    padding: none;
    margin: none
}

.header-icons .icon {
    color: #000;
    text-align: center
}

.header-icons .icon {
    width: 20px;
    height: 20px;
    padding: 10px;
    border-radius: 50%;
    transition: all .5s;
    font-size: 20px;
	margin: 5px;
	color: #fff;
    border: 3px solid #fff;
}

#twitter .icon:active,
#twitter .icon:hover {
    color: #1DA1F2;
	background: #fff;
}

#github .icon:active,
#github .icon:hover {
    color: #211F1F;
	background: #fff;
}

#linkedin .icon:active,
#linkedin .icon:hover {
    color: #0072b1;
	background: #fff;
}

@media only screen and (min-width:768px) {
    .header-icons .icon {
        width: 40px;
        height: 40px;
        font-size: 40px;
        line-height: 40px;
    }
}

#update{
    position: fixed;
    font-family: cursive;
    color: white;
    top: 95%;
    left: 1%;
}

#spotify{
    position: fixed;
    margin-left: 77%;
}

#spotify_logo{
    position: fixed;
    border-radius: 50%;
    right: 5%;
    top: 5%;
}

#spotify_logo:hover{
    background-color: rgba(255,255,255,1.0);
}