#sidebar{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#sidebar::-webkit-scrollbar{
    display: none;
}

#sidebar{
    user-select: none;
    font-family: Montserrat, sans-serif;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    width: auto;
    top: 0px;
    bottom: 0px;
    transition: margin 0.3s ease;
}

.box{
    text-decoration: none;
    font-size: 24px;
    color: white;
    padding: 0px 10px 0px 10px;
    border-radius: 3px;
    margin: 8px 10px 8px 10px;
    background: rgba(0, 0, 0, 0.5);
    transition: margin 0.3s ease,
                color 0.5s ease;
}


@media only screen and (min-width:768px) {
    .box{
        margin: 15px 10px 15px 10px;
    }
}
