body{
  margin: 0;
  user-select: none;
  overflow: hidden;
}

canvas{
  width: 100vw;
  height: 100vh;
  display: block;
}

.slides{
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

#navbox{
  user-select: none;
  position: fixed;
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.2fr;
  top: 90%;
  left: 15%;
  transform: translateY(-50%);
  width: 70%;
  height: auto;
}

#info{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 300%;
  font-family: Montserrat, sans-serif;
  color: rgba(0,0,0,0.85);
  transition: background-color 0.4s ease-out;
}

#right_arrow, #left_arrow {
  max-height: 100px;
  transition: background-color 0.25s ease-out;
  border-radius: 0em 1em 1em 0em;
}

#left_arrow{
  left: 0%;
  transform: scaleX(-1);
}

#right_arrow {
  right: 0%;
}
  
#left_arrow:hover, #right_arrow:hover {
  background-color: rgba(0,0,0,0.2);
}

#info:hover{
  background-color: rgba(0,0,0,0.2);
}