html, body {
    width: 100%;
    height: 100%;
    
    overflow: hidden;
    margin: 0;
}

#equation{
    position: fixed;
    bottom: 5%;
    transform: translateX(70%);
    font-size: 100%;
    pointer-events:none;
}